@if (vm$ | async; as vm) {
	<h3>
		Sign Up
		<small
			>Name: <span>{{ vm.fullName }}</span></small
		>
	</h3>

	<form [formGroup]="signUpForm" (submit)="submitSignUpForm($event)">
		<fieldset class="mb-4">
			<label for="firstName">First Name</label>

			<input
				type="text"
				formControlName="firstName"
				name="firstName"
				id="firstName" />

			@if (hasError(firstName, 'required')) {
				<span class="error">First name is required</span>
			}
		</fieldset>

		<fieldset class="mb-4">
			<label for="lastName">Last Name</label>

			<input
				type="text"
				formControlName="lastName"
				name="lastName"
				id="lastName" />

			@if (hasError(lastName, 'required')) {
				<span class="error">Last name is required</span>
			}
		</fieldset>

		<fieldset class="mb-4">
			<label for="email">Email Address</label>

			<input
				type="text"
				formControlName="email"
				name="email"
				id="email" />

			@if (hasError(email, 'required')) {
				<span class="error">Email is required</span>
			}

			@if (hasError(email, 'email')) {
				<span class="error"
					>Email is not valid, please use a valid email
					(user&#64;domain)</span
				>
			}
		</fieldset>

		<fieldset class="mb-4">
			<label for="password">Password</label>

			<input
				type="password"
				formControlName="password"
				name="password"
				id="password" />

			@if (hasError(password, 'required')) {
				<span class="error block">Password is required</span>
			}

			@if (hasError(password, 'minlength')) {
				<span class="error block"
					>Password should be a minimum of eight characters</span
				>
			}

			@if (hasError(password, 'strength')) {
				<span class="error block"
					>Password should contain lower and uppercase letters</span
				>
			}

			@if (hasError(signUpForm, 'passwordnamematch')) {
				<span class="error block"
					>Password should not contain the user&#39;s first or last
					name</span
				>
			}
		</fieldset>

		<div class="flex justify-end items-center">
			@if (vm.signupFailed) {
				<div class="error mr-2">
					Error in signing up. Please try again!
				</div>
			}

			<button
				type="submit"
				[disabled]="signUpForm.invalid"
				class="primary">
				@if (vm.isPending) {
					Signing Up
				} @else {
					Sign Up
				}
			</button>
		</div>
	</form>
}
