<div class="container mx-auto">
	<h1>Design System</h1>

	<hr />

	<h2>Colors</h2>

	<div class="flex flex-row justify-around items-center shrink-0">
		<div
			class="w-24 h-24 rounded-lg shadow-lg flex items-center justify-center text-white bg-primary">
			Primary
		</div>
		<div
			class="w-24 h-24 rounded-lg shadow-lg flex items-center justify-center text-white bg-secondary">
			Secondary
		</div>
		<div
			class="w-24 h-24 rounded-lg shadow-lg flex items-center justify-center text-white bg-secondary">
			Warning
		</div>
		<div
			class="w-24 h-24 rounded-lg shadow-lg flex items-center justify-center bg-white">
			White
		</div>
		<div
			class="w-24 h-24 rounded-lg shadow-lg flex items-center justify-center text-white bg-grey">
			Grey
		</div>
	</div>

	<hr />

	<h2>Headings</h2>

	<h1>Heading 1</h1>
	<h2>Heading 2</h2>
	<h3>Heading 3</h3>
	<h4>Heading 4</h4>
	<h5>Heading 5</h5>

	<hr />

	<h2>Typography</h2>

	<p>
		<strong>Lorem Ipsum</strong> is simply dummy text of the printing and
		typesetting industry. Lorem Ipsum has been the industry's standard dummy
		text ever since the 1500s, when an unknown printer took a galley of type
		and scrambled it to make a type specimen book. It has survived not only
		five centuries, but also the leap into electronic typesetting, remaining
		essentially unchanged. It was popularised in the 1960s with the release
		of Letraset sheets containing Lorem Ipsum passages, and more recently
		with desktop publishing software like Aldus PageMaker including versions
		of <strong>Lorem Ipsum</strong>.
	</p>

	<hr />

	<h2>Forms</h2>

	<form>
		<fieldset class="mb-4">
			<label for="firstName" class="form-input">First Name</label>

			<input id="firstName" name="firstName" type="text" />
		</fieldset>

		<fieldset class="mb-4">
			<label for="lastName" class="form-input">Last Name</label>

			<input id="lastName" name="lastName" type="text" />
		</fieldset>

		<fieldset class="mb-4">
			<label for="country" class="form-input">Country</label>

			<select id="country" name="country">
				<option value="Germany">Germany</option>
				<option value="Netherlands">Netherlands</option>
				<option value="UK">UK</option>
			</select>
		</fieldset>

		<fieldset class="mb-4">
			<label for="password" class="form-input">Password</label>

			<input id="password" name="password" type="password" />
		</fieldset>

		<fieldset class="mb-4">
			<label for="bio" class="form-input">Bio</label>

			<textarea id="bio" name="bio"></textarea>
		</fieldset>

		<button type="submit" class="primary">Register</button>
	</form>
</div>
